<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mid term project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontello.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/fonts.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">


</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class=" main-nav">
                    <a class="logo" href="/"><image src="{{url_for('static', filename='images/logos.png')}}">Waxom</a>
                    <ul class="main-menu">
                        <li class="main-item-list"><a href="/" class="item-link">home</a></li>
                        <li class="main-item-list"><a href="/" class="active1 item-link">My mid term project</a></li>
                        <li class="main-item-list"><a href="/" class="item-link">portfolio</a></li>
                        <li class="main-item-list"><a href="/" class="item-link">features</a></li>
                        <li class="main-item-list"><a href="/" class="item-link">blog</a></li>
                        <li class="main-item-list"><a href="/" class="item-link">pricing</a></li>
                        <li class="main-item-list"><a href="/" class="item-link">shortcodes</a></li>
                        <li class="main-item-list"><a href="/" class="item-link">contact</a></li>
                        <li class="main-item-list">
                            <a href="/" class="item-link">
                                <i class="fas fa-luggage-cart"></i>
                                <i class="icon-search"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div id="slider" class="owl-carousel owl-theme owl-nav owl-controls">
        <div class="slider-image"><img src="{{url_for('static', filename='images/bgphoto.png')}}">
            <div class="main-text">
                <h5>Unique and Modern Design</h5>
                <h3>Portfolio PSD Template</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis harum iure <br>praesentium
                    quos?
                    Autem fugit magni rerum totam vel.</p>
                <a class="get-started" href="/">get started</a>
            </div>
        </div>
        <div class="slider-image"><img src="{{url_for('static', filename='images/photo.png')}}">
            <div class="main-text">
                <h5>Unique and Modern Design</h5>
                <h3>Portfolio PSD Template</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis harum iure praesentium quos?
                    Autem fugit magni rerum totam vel.</p>
                <a class="get-started" href="/">get started</a>
            </div>
        </div>
        <div class="slider-image"><img src="{{url_for('static', filename='images/photo.png')}}">
            <div class="main-text">
                <h5>Unique and Modern Design</h5>
                <h3>Portfolio PSD Template</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis harum iure praesentium quos?
                    Autem fugit magni rerum totam vel.</p>
                <a class="get-started" href="/">get started</a>
            </div>
        </div>
        <div class="slider-image"><img src="{{url_for('static', filename='images/photo.png')}}">
            <div class="main-text">
                <h5>Unique and Modern Design</h5>
                <h3>Portfolio PSD Template</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis harum iure praesentium quos?
                    Autem fugit magni rerum totam vel.</p>
                <a class="get-started" href="/">get started</a>
            </div>
        </div>
        <div class="slider-image"><img src="{{url_for('static', filename='images/photo.png')}}">
            <div class="main-text">
                <h5>Unique and Modern Design</h5>
                <h3>Portfolio PSD Template</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis harum iure praesentium quos?
                    Autem fugit magni rerum totam vel.</p>
                <a class="get-started" href="/">get started</a>
            </div>
        </div>

    </div>
</header>

<!-------------------------------------Web Design--------------------------------------------------->

<section id="web-design">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                    <h2>Web & App Design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque dolore eius ex illum
                        incidunt</p>
                    <span></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <div class="icon">
                        <i class="fab fa-accusoft"></i>
                    </div>
                    <h2>Development</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque dolore eius ex illum
                        incidunt</p>
                    <span></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-cog"></i>
                    </div>
                    <h2>Customization</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque dolore eius ex illum
                        incidunt</p>
                    <span></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-map-marked"></i>
                    </div>
                    <h2>Marketing</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cumque dolore eius ex illum
                        incidunt</p>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>

<!--------------------------Waxom is Realization of your Ideas--------------------------------------------------->

<section id="portfolio">
    <div class="container">
        <div class="main-title"><h2>Mid-term project</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque cupiditate, est fugit harum ipsa
                ipsam<br>
                iure, magnam maiores possimus quae quia quos repellendus vitae voluptates.</p>
        </div>
        <div class="browser-img">
            <img src="images/browser-center.png">
        </div>
    </div>
    <div class="wordpress-theme">
        <div class="container wordpress-between">
            <div>
                <h2><span>Waxom </span> Multipurpose WordPress Theme</h2>
                <p>Don't Forget to Rate the Template. Thanks so much!</p>
            </div>
            <a class="get-started purchase-now" href="/">purchase now</a>
        </div>
    </div>
</section>

<!------------------------Our Latest Projects-------------------------------------------------------->

<section id="projects">
    <div class="container">
        <div class="main-title"><h2>Our Latest Projects.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque cupiditate, est fugit harum ipsa
                ipsam<br>
                iure, magnam maiores possimus quae quia quos repellendus vitae voluptates.</p>
        </div>
        <ul class="project-menu">
            <li class="project-item active"><a href="/">All</a></li>
            <li class="project-item"><a href="/">Web Design</a></li>
            <li class="project-item"><a href="/">Mobile App</a></li>
            <li class="project-item"><a href="/">illustration</a></li>
            <li class="project-item"><a href="/">Photography</a></li>
        </ul>
        <div class="row">
            <div class="col-lg-4">
                <div class="project-box">
                    <div class="box-img">
                        <div class="trend">
                            <a href="/"><i class="fas fa-link"></i></a>
                            <a href="/"><i class="fas fa-search"></i></a>
                        </div>
                        <img src="{{url_for('static', filename='images/1.png')}}">
                    </div>
                    <div class="box-text">
                        <h2>Claritas Etiam Processus</h2>
                        <p>Photography Nature</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-box">
                    <div class="box-img">
                        <div class="trend">
                            <a href="/"><i class="fas fa-link"></i></a>
                            <a href="/"><i class="fas fa-search"></i></a>
                        </div>
                        <img src="{{url_for('static', filename='images/2.png')}}">
                    </div>
                    <div class="box-text">
                        <h2>Quam Nutamus Farum</h2>
                        <p>Graphic Design, Mark-Up</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-box">
                    <div class="box-img">
                        <div class="trend">
                            <a href="/"><i class="fas fa-link"></i></a>
                            <a href="/"><i class="fas fa-search"></i></a>
                        </div>
                        <img src="{{url_for('static', filename='images/3.png')}}">
                    </div>
                    <div class="box-text">
                        <h2>Usus Legentis Videntur</h2>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-box">
                    <div class="box-img">
                        <div class="trend">
                            <a href="/"><i class="fas fa-link"></i></a>
                            <a href="/"><i class="fas fa-search"></i></a>
                        </div>
                        <img src="{{url_for('static', filename='images/4.png')}}">
                    </div>
                    <div class="box-text">
                        <h2>Claritas Etiam Processus</h2>
                        <p>Photography Nature</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-box">
                    <div class="box-img">
                        <div class="trend">
                            <a href="/"><i class="fas fa-link"></i></a>
                            <a href="/"><i class="fas fa-search"></i></a>
                        </div>
                        <img src="{{url_for('static', filename='images/5.png')}}">
                    </div>
                    <div class="box-text">
                        <h2>Quam Nutamus Farum</h2>
                        <p>Graphic Design, Mark-Up</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-box">
                    <div class="box-img">
                        <div class="trend">
                            <a href="/"><i class="fas fa-link"></i></a>
                            <a href="/"><i class="fas fa-search"></i></a>
                        </div>
                        <img src="{{url_for('static', filename='images/6.png')}}">
                    </div>
                    <div class="box-text">
                        <h2>Usus Legentis Videntur</h2>
                        <p>Photography, Holiday</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="load-more">
            <a class="get-started" href="/">load more</a>
        </div>
    </div>
</section>


<!---------------------------Waxom Video Presentation------------------------------------------------->


<section id="waxom-video">
    <div class="play-video">
        <i class="play-icon"><img src="{{url_for('static', filename='images/iconplay.png')}}"></i>
        <h2>Waxom Video Presentation </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem commodi consequatur esse necessitatibus
        </p>
        <span>03 : 26</span>
    </div>
</section>

<!---------------------------Excellent for Mobile Devices-------------------------------------------->

<section id="Mobile-Devices">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{{url_for('static', filename='images/iPhone%20in%20hand.png')}}">
            </div>
            <div class="col-lg-8">
                <div class="mobile-text">
                    <h2 class="mobile-title">Excellent for Mobile Devices</h2>
                    <p class="mobile-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda,
                        atque consequuntur
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda, atque
                        consequuntur
                        corporis dicta earum et exercitationem fugit illum, ipsa ipsum itaque labore laboriosam , .</p>
                    <ul class="mobile-menu">
                        <li class="mobile-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li class="mobile-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li class="mobile-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li class="mobile-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="counter">
    <div class="container">
        <div class="all-counter">
            <div class="counter-item">
            <i class="fas fa-user-friends"></i>
            <h3>3587</h3>
            <p>satisfied clients</p>
            <div class="line"></div>
        </div>
            <div class="counter-item">
                <i class="fas fa-user-friends"></i>
                <h3>3587</h3>
                <p>satisfied clients</p>
                <div class="line"></div>
            </div>
            <div class="counter-item">
                <i class="fas fa-user-friends"></i>
                <h3>3587</h3>
                <p>satisfied clients</p>
                <div class="line"></div>
            </div>
            <div class="counter-item">
                <i class="fas fa-user-friends"></i>
                <h3>3587</h3>
                <p>satisfied clients</p>
                <div class="line"></div>
            </div>
            <div class="counter-item">
                <i class="fas fa-user-friends"></i>
                <h3>3587</h3>
                <p>satisfied clients</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>

   <!-- <div class="wordpress-theme client-theme">
        <div class="container">
            <div class="all-clients">
                <div class="clients-item">
                    <i class="fas fa-user-friends"></i>
                    <h3>3587</h3>
                    <p>satisfied clients</p>
                    <span></span>
                </div>
                <div class="clients-item">
                    <i class="fas fa-mug-hot"></i>
                    <h3>207</h3>
                    <p>cups of coffee</p>
                    <span></span>
                </div>
                <div class="clients-item">
                    <i class="fas fa-comment"></i>
                    <h3>2500</h3>
                    <p>blog posts</p>
                    <span></span>
                </div>
                <div class="clients-item">
                    <i class="far fa-heart"></i>
                    <h3>873</h3>
                    <p>likes</p>
                    <span></span>
                </div>
                <div class="clients-item">
                    <i class="fas fa-hamburger"></i>
                    <h3>900</h3>
                    <p>we launched</p>
                    <span></span>
                </div>
            </div>
        </div>
    </div>-->
</section>

<!--------------------------------Recent Posts----------------------------------------------------->

<section id="recent-post">
    <div class="main-title"><h2>Recent Posts.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque cupiditate, est fugit harum ipsa ipsam<br>
            iure, magnam maiores possimus quae quia quos repellendus vitae voluptates.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ">
                <div class="post-box">
                    <div class="post-img">

                        <div class="sep-30">
                            <div class="h2">30</div>
                            <div class="sep-p">Sep</div>
                        </div>
                        <img src="{{url_for('static', filename='images/post1.png')}}">
                    </div>
                    <div class="post-text">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit.</p>
                        <a href="/" class="read-more">Read More <i class="fas fa-caret-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img">
                        <div class="sep-30">
                            <div class="h2">30</div>
                            <div class="sep-p">Sep</div>
                        </div>
                        <img src="{{url_for('static', filename='images/post2.png')}}">
                    </div>
                    <div class="post-text">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit.</p>
                        <a href="/" class="read-more">Read More <i class="fas fa-caret-right"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="post-box">
                    <div class="post-img">
                        <div class="sep-30">
                            <div class="h2">30</div>
                            <div class="sep-p">Sep</div>
                        </div>
                        <img src="{{url_for('static', filename='images/post3.png')}}">
                    </div>
                    <div class="post-text">
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing elit.</p>
                        <a href="/" class="read-more">Read More <i class="fas fa-caret-right"></i> </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!----------------------------Partners----------------------------------------------------------->

<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"><img src="{{url_for('static', filename='images/logo-01.png')}}"></div>
            <div class="col-lg-3"><img src="{{url_for('static', filename='images/logo-03.png')}}"></div>
            <div class="col-lg-3"><img src="{{url_for('static', filename='images/logo-01.png')}}"></div>
            <div class="col-lg-3"><img src="{{url_for('static', filename='images/logo-01.png')}}"></div>
        </div>
    </div>
</section>

<!----------------------------Footer ------------------------------------------------------------>

<footer>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-box">
                        <img src="{{url_for('static', filename='images/logo.png')}}">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut
                            cupiditate explicabo facere
                            illo illum ipsa, magnam nobis optio provident, quo quos, ratione sequi soluta tempora vitae
                            voluptas voluptate voluptatibus?</p>
                        <a href="/" class="read-more read-footer">Read more <i class="fas fa-caret-right"></i> </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-contacts">
                        <h2>Recent Posts</h2>
                        <span>September 08, 2015</span>
                        <p>Lorem ipsum dolor sit, consectetur adipisicing .</p>

                        <div class="recent-middle">
                            <span>September 08, 2015</span>
                            <p>Lorem ipsum  consectetur adipisicing , repellat.</p>
                        </div>
                        <span>September 08, 2015</span>
                        <p>Lorem ipsum dolor  consectetur adipisicing elit. A at ducimus fugit pariatur
                        </p>

                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="footer-contacts">
                        <h2>Our Twitter</h2>
                        <p><span class="blue-span">@Waxom</span>
                        Lorem ipsum dolor sit, consectetur adipisicing .</p>
                        <span>3 mins ago</span>

                        <div class=" twitter-middle">
                            <p>Mirum est <span class="blue-span">#envato</span>
                            Lorem ipsum  consectetur adipisicing consectetur adipisicing , repellat.</p>
                            <span> 5 hours ago</span>
                        </div>

                        <p>Soluta nobis option <span>bit.ly/lHniso7</span></p>
                        <span>20 days ago</span>

                    </div>


                </div>


                <div class="col-lg-3">
                    <div class="footer-contacts">
                        <h2>Dribble Widget</h2>
                        <div class="row">
                            <div class="col-lg-6"><img src="{{url_for('static', filename='images/dribble.png')}}"></div>
                            <div class="col-lg-6"><img src="{{url_for('static', filename='images/dribble2.png')}}"></div>
                            <div class="col-lg-6"><img src="{{url_for('static', filename='images/dribble3.png')}}"></div>
                            <div class="col-lg-6"><img src="{{url_for('static', filename='images/dribble4.png')}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--------------------------------Copyright------------------------------------------------->

    <div class="copyright">
        <div class="container footer-row">
            <div class="left">
                <p>Copyright @ 2015 <span>Waxom</span></p>
                <p>Privacy Policy</p>
                <p class="faq">FAQ</p>
                <p>Support</p>
            </div>

            <div class="right">
                <p>Designed by <span>Abdisalan</span></p>
                <p>for my Programming language project <span>2020 Alatoo university</span></p>
            </div>
        </div>

    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/slick.min.js')}}"></script>

<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>

<script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>